* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin-top: 50px;
}

input {
  margin-right: 10px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 5px;
}

button,
div {
  margin: 10px 0;
}
